#IMPEDIR QUE SE PUEDA VER EL LISTADO DE
#CONTENIDO DE UN DIRECTORIO

Options All -Indexes

#URL AMIGABLES
#ACTIVAR RewriteEngine si no viene activo

RewriteEngine on

#URL QUE DEBE SER REEMPLAZABLE
#CATURANDO CUALQUIER PALABRA DESPUES
#DE ACTION CON UNA RULE
#Y SUSTITUYENDO EN AL  URL POR SOLO
#LOS ACTION

RewriteRule ^(\w+)$ index.php?action=$1

#TOMA LA URL Y LO COLOCA EN EL ACTION
#NOS HACE EL FAVOR DE NO MOSTRARLE
#AL USUARIO TODA LA RUTA COMPLETA