<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backend</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="images/icono.jpg">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/cssFancybox/jquery.fancybox.css">
	<link rel="stylesheet" href="css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">

	<script src="js/jquery-2.2.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>

</head>

<body>

	<div class="container-fluid">

		<section class="row" id="backIngreso">

			<form method="post" id="formIngreso">

				<h1 id="tituloFormIngreso">INGRESO AL PANEL DE CONTROL</h1>
				
				<input class="form-control formIngreso" type="text" placeholder="Ingrese su Usuario" name="usuarioIngreso">
				<input class="form-control formIngreso" type="password" placeholder="Ingrese su Contraseña" name="passwordIngreso">
				<input class="form-control formIngreso btn btn-primary" type="submit" value="Enviar">

			</form>

		</section>
	
	</div>

	<script src="js/script.js"></script>
	
</body>

</html>